* {
    margin:0;
    font-family: "proxima-nova", sans-serif;
    font-weight: 300, 400, 500, 700, 900;
}

:root {
    --arrow-bg: rgba(255, 255, 255, 0.3);
    --arrow-icon: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg);
    --select-bg: rgba(255, 255, 255, 0.2);
  }

@media screen and (max-width: 599px) {

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(8, auto);
    margin: auto;
    width: 100%;
}

.header {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    display: flex;
    padding:12px;   
}

.header .menu {
    width: 16px;
    height: 16px;
}

.header .logo-short {
    display: inline;
    width: 59px;
    height: 14px;
    margin-left: 12px;
    margin-top: 2px;  
}

.header .logo-long {
   display: none;
}

.header .links {
    display: none;
}


.header-nav {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    padding: 12px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 4px;

}

.header-nav .ico {
    width: 16px;
    height: auto;
    margin-right: 8px;
}


.hero {
    grid-column: 1 / span 4;
    grid-row: 2 / 4;
    background-image: url("../assets/hero-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 16px;
    min-height: 300px; /* Ensure the hero section is at least {*px}tall */
    position: relative;

}

.hero::before {
    content: "";
    position: absolute;
    top: 50;
    left: 0;
    width: 100%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0.5); /* White overlay with 50% opacity */
    border-radius: 10px;
    z-index: 1; /* Ensure the overlay appears above the background image but below the content */
  }

.hero .image {
    position: relative;
    z-index: 2; /* Ensure the content appears above the overlay */
    display: flex;
    flex-direction: column;
  
  }

.hero .logo{
    width: 50%;
    height: auto;

}



.hero h1 {
    font-size: medium;
    text-transform: uppercase;
    width: 50%;
    margin-top: 8px;
    z-index: 5;
}



.hero p {
    display: none;
}

.article-container {
    grid-column: 1 / span 4;
    grid-row: 4 / 5;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.vid {
    grid-column: 1 / span 4;
    grid-row: 1;
    width: 100%;
    height: auto;  
    display: flex;
    justify-content: center;
    align-items: center;
}

.vid-content {
    width: 100%;
    height: auto;
    
}

.article {
    grid-column: 1 / span 4;
    grid-row: 2;
    margin: auto;
    padding: 24px;
   
}

.article button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 16px 12px 16px;
    background-color: #0A0A0A;
    border-radius: 50px;
    border: none;
    color: white;
    width: 100%;
    margin-top:30px;
    font-size: small;
}

.svg {
    width: 12px;
    height: auto;
}

.article h2 {
    font-size: larger;
    margin-bottom: 12px;
}

.article h3 {
    font-size: medium;
    margin-bottom: 12px;
}

.article p {
    font-size: small;
    margin-bottom: 14px;
}

.ad1 {
    grid-column: 1 / 4;
    grid-row: 6 / 7;
    position: relative;
}

.promo {
    grid-column: 1 / span 4;
    grid-row: 5 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.promos {
    grid-column: 1 / span 4;
    grid-row: 5 / 6;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.ads {
    grid-column: 1 / span 4;
    grid-row: 1;
    
}

.ad1 {
    width: 100%;
    position: relative;
}

.ad1 img {
    width: 100%;
    height: 100%;
}

.ad1 button {
    position:absolute;
    top: 85%;
    left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px 8px 16px;
    background-color: #8DAAC6;
    border-radius: 50px;
    border: none;
    color: white;
    width: 40%;
    font-size: small;
    
}
.ad2 {
    width: 100%;
    position:relative;
    
}

.ad2 img {
    width: 100%;
    height: 100%;
}

.ad2 button {
    position:absolute;
    top: 85%;
    left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px 8px 16px;
    background-color: #E50278;
    border-radius: 50px;
    border: none;
    color: white;
    width: 40%;
    font-size: small;
}


.footer {
    grid-column: 1 / span 6;
    grid-row: 7 / 9;
    padding: 12px;
    background-color: #0A0A0A;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}


.locator-search {
    grid-column: 1;
    grid-row: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}


.location-title .svg {
    fill: white;
    margin-right: 8px;
}


.locator-search .svg {
    fill: white;
    width: 12px;
    height: auto;
    margin-right: 8px;
    margin-left: 8px;
}

.locator-search select {
    appearance: none;
    margin-top: 24px;
    margin-bottom: 24px;
    border: 0;
    outline: 0;
    font: inherit;
    width: 90%;
    padding: 1rem 4rem 1rem 1rem;
    background: 
        var(--arrow-icon) 
        no-repeat right 0.8em center / 1.4em,
        linear-gradient(to left, 
        var(--arrow-bg) 3em, 
        var(--select-bg) 3em);
    color: white;
    border-radius: 0.25em;
    box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;

   
    &::-ms-expand {
      display: none;
    }
   
    &:focus {
      outline: none;
    }
  }
 
  .modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    transform: translateY(100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.modal.open {
    display: block;
    transform: translateY(0);
}

.modal-header {
    padding: 10px 24px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
}

.modal-body {
    padding: 24px;
    margin-bottom: 24px;
    text-align: center;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    gap: 20px;
}

.modal-close {
    cursor: pointer;
    color: black;
    font-size: 14px;
    padding: 10px;
    text-transform: uppercase;
}

.salon {
    padding: 12px;
    text-align: left;
    min-width: 60%;
    border: #0A0A0A solid 1px;
}


.footer-nav {
    display: none;
}

.footer-nav-mobile {
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;

}

.accordion {
    background-color: #0A0A0A;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    text-align: left;
    border-bottom: 1px white solid;
    border-left: none;
    border-top: none;
    border-right: none;
    outline: none;
    transition: 0.4s;
    font-size: medium;
    display: flex;
    justify-content: space-between; 
    align-items: center;
  }
  
  .accordion .svg {
    fill: white;
    width: 12px;
    height: auto;

  }

  .active, .accordion:hover {
    background-color: none;
  }

  .panel {
    padding: 18px;
    background-color: none;
    display: none;
    overflow: hidden;
    width: 65%;
  }

  .panel a {
    color: white;
    text-decoration: none;
    margin-bottom: 12px;
  }

  .links {
    display: flex;
    flex-direction: column;
  }

  .company-details {

    display: flex;
    flex-direction: column;
    padding: 24px;

}

.social {   
    width: 68%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    


}
.social .svg {
    fill: white;
}

.copyright {   
    border-bottom: white 1px solid;
    margin-top: 12px;
   
}

.logo {
    width: 225px;
    height: auto;
}
.copyright p {
    color: white;
    font-size: small;
    margin-bottom: 12px;

}

.cruelty-free {    
    display: flex;
    align-items: center;
    margin-top: 12px;


}

.cruelty-free img {
    width: 42px;
    height: 42px;
    margin-right: 12px;
}
.cruelty-free p {
    font-size: small;
    color: white;
}


}

